#wrap{
	width:1000px;
	
	margin:auto;
}


header{
	height:50px;

}

.header-box{
	height:50px;
	width:500px;
		
}

.Hbox{
	height:70px;
	width:250px;
}

.loginStatusBox{
	height:70px;
	width:250px;	
}

.content{
	
	height:450px;
}

.timeline-box{
	margin:auto;
	/* 처음에 높이 700px로 했음*/
	width:500px;
}

.dotBox{
	
	
	width:500px;
	height:50px;
}


.comment{
	
	height:50px;
}

.login-box{
	width:300px;
}

.non-resize {
	resize:none;		
}

.more-icon {
	font-size:25px;	
}

.image-upload-icon{
	font-size:22px;
	color:black;
}

footer{
	height:60px;
}